wheel

# Jupiter notebook
ipykernel
ipywidgets

# utils
python-dotenv
requests
convertdate
pillow
imageio
opencv-contrib-python

numpy
pandas
pandas-profiling
scipy
statsmodels
scikit-learn
scikit-image
sktime
tslearn
prophet
neuralprophet
darts

# Excel
xlrd

# Visualize
japanize_matplotlib
japanmap
plotly

